.scrollable{
	overflow-y: auto;
}

/* base style of this promo
   ========================================================================== */
body{
	color: #b2b2b2;
    &:not(.personal-space-igt) {
        background: #fff;
    }
}


/* Overwrite the default style of component
   ========================================================================== */
.toggle{
    margin-top: 20px;
    color: #b2b2b2;

    svg {
        fill: #b2b2b2;
    }
}

#terms {
    * {
        color: #6c6c6c;
    }
}


